//Declare Variables
@width1 : 300px;
@full-width : 100%;

//Sidebar
#sidebar {
    float: left;
    width : 20%;
    margin-left : 30px;
}

#container {
    float: right;
    width: 75%;
    display: block;
}